<div class="card max-w-sm bg-base-100 shadow-xl">
  <img src="{{ post.urlImg }}" alt="Shoes" />
  <div class="card-body">
    <h2 class="card-title">{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <div class="card-actions justify-end">
      <a href="{{ path('app_show', { 'id':post.id }) }}" class="btn btn-primary">Lire</a>
    </div>
  </div>
</div>
